@import url("./media.css");
@import url("var.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li, a{
  text-decoration: none;
  list-style-type: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(227, 40%, 9%);
}
header{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
.nav_sidebar{
  width: 78%;
  margin: 1% 0;
  /* background-color: blue; */
}
.options{
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.option_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: green; */
}
.title{
  font-size: large;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-left: 1%;
}
.image_book{
  width: 6%;
  border-radius: 12px;
}
.options_header ul{
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  font-size: 16px;
  font-size: large;
  color: white;
  gap: 3rem;
}
.options_header i{
  /* background-color: black; */
  text-align: center;
  align-items: center;
  gap: 2px;
}
.options_menu{
  width: 100vw;
  background-color: hsl(182, 100%, 20%);
}
.option_2 ul{
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  padding: 18px 0;
  gap: 3rem;
}
.options_a{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 16px;
  font-size: large;
  color: white;
}
.main_information{
  display: flex;
  justify-content: center;
}
.most_read{
  width: 76%;
  font-weight: bold;
  font-size: 16px;
  font-size: large;
  color: white;
}
h3{
  font-weight: bold;
  font-size: 16px;
  font-size: large;
  color: white;
}
.icon_label i{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  color: hsl(182, 100%, 20%);
  gap: 10px;
}