:root {
  --white: #fff;
  --black: #000;
  --text-head-color: #0c2339;
  --gray-text-color: #4e5c79;
  --general-gray: #8a98a9;
  --gray-100: #ececec;
  --gray-200: #6e6e6eaf;
  --gray-300: #3b3b3b;
  --gray-400: #1f1f1f;
  --gray-dark: #335372;
  --red-soft: #ff00001a;
  --red-100: #ff5959;
  --red-200: #fa0000;
  --red-300: #af0000;
  --red-400: #3f0000;
  --blue-soft: #eef3ff;
  --blue-soft-bg: #f7f9fc;
  --blue-100: #3d6de5;
  --blue-200: #437bff;
  --blue-300: #1a5fff;
  --blue-400: #074da3;
  --green-soft: #00ff0011;
  --green-100: #5dbb56;
  --green-200: #4caf4fe3;
  --green-300: #388e3c;
  --green-400: #1b5e20;
  --yellow-soft: #ffff001a;
  --yellow-100: #fbc02d;
  --yellow-200: #f9a825;
  --yellow-300: #f57f17;
  --yellow-400: #c65100;
  --border-radius-2: 2px;
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --border-radius-15: 15px;
  --border-radius-30: 30px;
  --border-radius-100: 100%;
  --transition: 0.2s ease;
  --box-shadow-color: #28282814;
}
